.FinancialStatements {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  padding-top: 10px;
}
.FinancialStatementItems {
  margin: 10px;
}
